@charset "UTF-8";
 body{
      position: relative;
      width:1268.800;
      height:900px;
      margin: 8px;
      padding: 8px;
    }

    #table{
    background-color: rgb(233, 234, 254);
		position:absolute;
		left:450px;
		width: 700px;
		height:730px;
		border: 1px solid black;
        
    }
    #listcartoon{
      position: fixed;
      left:260px;
      top:360px;
      width: 150px;
      height: 340px;
      background-color: rgb(233, 234, 254);
      border: 1px solid black;
    }

    #listcartoon li {
      margin-bottom: 16px;
    }
    #listcartoon ol{
      position: absolute;
      left: -15px;
      font-size: 14px;
      top:28px;
    }
    #listcartoon #listcartoon_top{
      position: absolute;
      left: 0px;
      top: 0px;
      width: 150px;
      height: 30px;
      border: none;
      border-bottom: 1px solid black;
      text-align: center;
      background-color: rgb(122, 122, 122);
      font-weight: bold;
      font-size: 20px;
    }
    #login button{
      height: 20px;
      font-size: 10px;
      color: black;
      position: absolute;
      top:48px;
      left: 219px;
      background-color: white;
      border: 1px solid black;
    }

    #login button:active{
      background-color: #333333;
    }
    #login{
      border: 1px solid black;
      position: absolute;
      width:280px;
      height: 80px;
      top:90px;
      left: 1218.8px;
    }
    div #dis{
      position: absolute;
      left:10px;
      top:10px;
      background-color: rgb(46, 46, 72);
     
      width:265px;
      height:40px;
      color:white;
      margin:-4px;
      margin-right:5px;
      text-align: center;
      font-size: 16px;
      font-family: "맑은 고딕";
    }   
    nav a[href="P1_admin.jsp"]{
      position: absolute;
      left: 10px;
      top: 13px;
      font-family: "맑은 고딕";
      font-size: 19px;
      color: blue;
      font-weight: bold;
    }
    nav input{
      position: absolute;
      left: 100px;
      height: 30px;
    }
    nav button{
      position: absolute;
      left:376px;
      height: 36px;
      border:0px;
      background-color: #1b5ac2;
      outline: none;
      float:right;
      color: #ffffff;
    }
    input[name=upload]{
      position:absolute;
      left: 30px;
      top:206px;
      background-color: #ccc;
      width:73px;
    }
    #imageborder{
      position: absolute;
      width: 120px;
      height: 120px;
      top: 80px;
      left: 30px;
      border: 1px solid black;
    }

    .list{
      list-style-type: none;
      position: absolute;
      top: 60px;
      left: 150px;
    }
    .list label{
      float: left;
      font-size: 14px;
      width: 80px;
    }
    ol li{
      margin-bottom: 40px;
      
    }
    input[type=button]{
      position: absolute;
      left:400px;
    }
    #episode{
      position: absolute;
      font-weight:bold;
      top: 40px;
      left: 30px;
    }
    